body{
    font-family: sans-serif;
    margin: o;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 70px;
    background-color:rgb(48, 45, 45);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    border: 1em;
    border-radius: 35px;
    
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 75px;
    margin-right: 10px;
    border-radius: 100px;
}
nav a{
    font-weight: 600;
    padding-right: 45px;
    color: white;
}
nav a:hover{
    color: gold;
}